{% extends 'layout.html' %}
{% block content %}
<div class="properties-container">
    {% for property, rooms, accuracy, price in properties_and_rooms %}
    <div class="property-box">
        <div class="property-image">
            <img class="image-tag" src="{{ url_for('static', filename='uploads/' + property.display_image_url) }}" alt="picture">
        </div>
        <div class="property-info">
            <div>
                <h3 style="padding-top: 2px; cursor: pointer;" onmouseover="this.style.color='grey';" onmouseout="this.style.color='black';">{{ property.name }}</h3>
            </div>
            <div>
                <p style="padding-top: 2px;"><i>{{ property.city }}, {{ property.country }}</i></p>
            </div>
            <div>
                <p style="padding-top: 2px; font-size: 0.9em;">{{ description_limiter(property.description) }}</p>
            </div>
            <div style="margin-top: 4px; border-top: 1px solid #000000; height: auto">
                {% if in_search %}<i>
                    {% for room in rooms %}
                        {% if accuracy == 'Exact' %}
                            <p style="padding-top: 4px; font-size: 0.9em;">{{ room_name_checker(room.name) }} with {% for bed in format_beds(room.beds.items()) %}{{ bed }}{% if not loop.last %}, {% endif %}{% endfor %} - {% if room.has_bathroom %}Private{% else %}Shared{% endif %} bathroom</p>
                        {% elif 'More' in accuracy %}
                            <p style="padding-top: 4px; font-size: 0.9em;">{{ room_name_checker(room.name) }} with {% for bed in format_beds(room.beds.items()) %}{{ bed }}{% if not loop.last %}, {% endif %}{% endfor %} - {% if room.has_bathroom %}Private{% else %}Shared{% endif %} bathroom</p>
                        {% elif 'Less' in accuracy %}
                            <p style="padding-top: 4px; font-size: 0.9em;">{{ room_name_checker(room.name) }} with {% for bed in format_beds(room.beds.items()) %}{{ bed }}{% if not loop.last %}, {% endif %}{% endfor %} - {% if room.has_bathroom %}Private{% else %}Shared{% endif %} bathroom</p>
                        {% endif %}
                    {% endfor %}</i>
                    {% if 'Less' in accuracy %}
                        {% if rooms|length == 1 %}
                        <p style="padding-top: 4px; font-size: 0.8em;">Extra beds/space is available in this room.</p>
                        {% elif rooms|length == 2 %}
                        <p style="padding-top: 4px; font-size: 0.8em;">Extra beds/space is available in one or both of these rooms.</p>
                        {% else %}
                        <p style="padding-top: 4px; font-size: 0.8em;">Extra beds/space is available in one or more of these rooms.</p>
                        {% endif %}
                    {% endif %}
                {% endif %}
                <p style="padding-top: 4px;"><b>From £{{ format_price(price) }} per night</b></p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}