{% extends 'layout.html' %}
{% block content %}
<div class="properties-container">
    {% for property, room in properties_and_rooms %}
    <div class="property-box">
        <div class="property-image">
            <img class="image-tag" src="{{ url_for('static', filename='uploads/' + property.display_image_url) }}" alt="picture">
        </div>
        <div class="property-info">
            <div class="property-name">
                <h3>{{ property.name }}</h3>
            </div>
            <div class="property-location">
                <p><i>{{ property.city }}, {{ property.country }}</i></p>
            </div>
            <div class="property-description">
                <p>{{ description_limiter(property.description) }}</p>
            </div>
            <div class="from-price">
                <p>From £{{ format_price(room.price) }} per night</p>
            </div>
            {% if in_search %}
            <div class="room_info"><i>
                {% if property.total_space == 'Exact' %}
                    <p>{{ room.name }} with {% for bed in divide_capacity_for_bed_type(room.beds.items()) %}{{ bed[1] }} {{ bed[0] }} bed(s){% if not loop.last %}, {% endif %}{% endfor %}</p>
                {% elif property.total_space == 'Extra' %}
                    <p>{{ room.name }} with {% for bed in divide_capacity_for_bed_type(room.beds.items()) %}{{ bed[1] }} {{ bed[0] }} bed(s){% if not loop.last %}, {% endif %}{% endfor %}</p>
                {% elif property.total_space == 'More' %}
                    <p>{{ room.name }} with {% for bed in divide_capacity_for_bed_type(room.beds.items()) %}{{ bed[1] }} {{ bed[0] }} bed(s){% if not loop.last %}, {% endif %}{% endfor %}, and extra space available (see 'Extras' for the room)</p>
                {% endif %}</i>
            </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}