<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/body_and_header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pop_ups.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main_menu.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.jpg') }}">
    <title>Shuffle Shack</title>
</head>
<body>
    <nav>
        <div class="small-screen-top">
            <a href="">Home</a>
            <button data-menu-target="#main-menu-box">Menu</button>
        </div>
        <div class="navbar">
            <div class="nav-box-left">
                <div class="home-button-box">
                    <img class="home-button" src="{{ url_for('static', filename='images/home-button.png') }}" alt="picture">
                </div>
                <div class="logo">
                    SHUFFLE<BR>SHACK
                </div>
            </div>
            <div class="nav-box-center">
                <form methods="POST" action="">
                    <div class="center-left">
                        <div class="nav-item">
                            <p>Check in</p>
                            <input type="date" placeholder="Start date">
                        </div>
                        <div class="nav-item">
                            <p>Check out</p>
                            <input type="date" placeholder="End date">
                        </div>
                    </div>
                    <div class="center-right">
                        <div class="nav-item">
                            <p>City</p>
                            <input type="text" placeholder="Location">
                        </div>
                        <div class="nav-item with-submit">
                            <div>
                                <p>Guests</p>
                                <input type="number" placeholder="2">
                            </div>
                            <input type="submit" value="Go">
                        </div>
                    </div>
                </form>
            </div>
            <div class="nav-box-right">
                <div class="user-info">
                    {% if 1 == 2 %}
                    <div class="user-name">User</div>
                    {% else %}
                    <div class="user-name" data-menu-target="#main-menu-box">Menu</div>
                    {% endif %}
                    <button class="menu-button" data-menu-target="#main-menu-box">
                        <svg class="menu-icon" viewBox="0 0 100 80">
                            <rect width="100" height="12" fill="#251706"></rect>
                            <rect y="30" width="100" height="12" fill="#251706"></rect>
                            <rect y="60" width="100" height="12" fill="#251706"></rect>
                            <rect y="90" width="100" height="12" fill="#251706"></rect>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    {% block content %}{% endblock %}
    {% if 1 == 1 %}
        <div class="main-menu-box-unauth pop-up-box" id="main-menu-box">
            <button data-cancel-button class="cancel-button">&times;</button>
            <div class="menu-button-container">
                <button data-login-button-target="#login-box" class="login-button">Login</button>
                <button data-register-button-target="#register-box" class="register-button">Register</button>
            </div>
        </div>
    {% else %}
        <div class="main-menu-box-auth pop-up-box" id="main-menu-box">
            <button data-cancel-button class="cancel-button">&times;</button>
            <div class="menu-button-container">
                <button class="profile-button">Profile</button>
                <button class="hosting-button">Your Hosting</button>
                <button class="logout-button">Logout</button>
            </div>
        </div>
    {% endif %}
    <div class="login-box pop-up-box" id="login-box">
        <button data-cancel-button-over class="cancel-button">&times;</button>
        <form method="POST" action="/login">
            {{ login_form.csrf_token(id='csrf_token_login') }}
            <div class="login-box-header">
                <h2>Login</h2>
            </div>
            <div class="login-box-content">
                <div class="login-box-item">
                    {{ login_form.email }}
                </div>
                <div class="login-box-item">
                    {{ login_form.password }}
                </div>
            </div>
            <div class="login-box-footer">
                {{ login_form.submit }}
            </div>
        </form>
    </div>
    <div class="register-box pop-up-box" id="register-box">
        <button data-cancel-button-over class="cancel-button">&times;</button>
        <form id="registrationForm" method="POST" action="/register">
            {{ register_form.csrf_token(id='csrf_token_register') }}
            <div class="register-box-header">
                <h2>Register</h2>
            </div>
            <div class="register-box-content">
                <div class="register-box-item">
                    {{ register_form.first_name }}
                </div>
                <div class="register-box-item">
                    {{ register_form.last_name }}
                </div>
                <div class="register-box-item">
                    {{ register_form.user_name }}
                </div>
                <div class="register-box-item">
                    {{ register_form.email }}
                </div>
                <div class="register-box-item">
                    {{ register_form.phone_number }}
                </div>
                <div class="register-box-item">
                    {{ register_form.date_of_birth }}
                </div>
                <div class="nationality">
                    {{ register_form.nationality }}
                </div>
                <div class="register-box-item">
                    <div id="passwordError" style="color: rgb(255, 119, 0); margin-bottom: 5px;"></div>
                    {{ register_form.password }}
                </div>
                <div class="register-box-item">
                    <div id="confirmPasswordError" style="color: rgb(255, 119, 0); margin-bottom: 5px;"></div>
                    {{ register_form.confirm_password }}
                </div>
            </div>
            <div class="register-box-footer">
                {{ register_form.submit }}
            </div>
        </form>
    </div>
    <div id="overlay"></div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>